@page
@{
    ViewData["Title"] = "Mozilla Pdf.js Intergation";
}

<section class="p-3 d-flex flex-wrap h-100 w-100">
    <section class="col-sm-9 pdf-container h-100 rounded shadow">
        <div id="pdfContainer" class="overflow-auto h-100 text-center py-2"></div>
    </section>
    <section class="col-sm-3">
        <div class="p-3" id="pdfControls">
            <h3>Controls</h3>
            <hr/>
            <div class="px-3">
                <label class="form-label">Zoom</label>
                <div class="d-flex justify-content-between">
                    <button class="btn rounded-pill btn-outline-dark zoom-out" title="Zoom Out">&nbsp;-&nbsp;</button>
                    <span id="zoomLevel" class="px-2 zoomLevel">0%</span>
                    <button class="btn rounded-pill btn-outline-dark zoom-in" title="Zoom In">&nbsp;+&nbsp;</button>
                </div>
                <hr/>
                <div class="d-flex justify-content-between">
                    <label class="form-label">Page</label><br/>
                    <div>
                        <span id="currentPageNumber" class="ml-3 currentPageNumber">0</span>
                        <span class="mx-2">/</span>
                        <span id="totalPageCount" class="totalPageCount">0</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

@section Scripts {
    <script src="~/lib/pdfjs/pdf.min.js" type="module" asp-append-version="true"></script>
    <script src="~/js/pdf_renderer.js" asp-append-version="true"></script>
}